*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.mynav{
    width: 100%;
    position: fixed !important;
    z-index: 9;
    top: 0px;
    border: 2px solid black;
    
}

.product-section{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    
    
}

